header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001F48; /* Same navy blue */
    color: #fff;
    padding: 20px 170px;
    font-size: 16px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.gavel-icon {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.mybid {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.mybid:hover {
    color: #87CEFA;
}

.heart {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.heart .heart-icon {
    font-size: 18px;
    transition: color 0.3s ease;
}

.heart:hover {
    color: #87CEFA;
}

.heart:hover .heart-icon {
    color: #87CEFA;
}
