/* Navbar Styling */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 40px;
    background-color: #0A1D56;
    height: 80px;
    color: white;
}

/* Logo */
.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.s-letter{
    color: #87CEFA;
}

.b-letter{
    color: #87CEFA;
}

.nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color:#87CEFA;
}

.cart-btn {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

.cart-btn svg {
    margin-right: 8px;
}
