.product-card-container {
  width: 300px; 
  height: 350px;
  margin: 20px;
  display: flex;
  justify-content: center; 
}

.product-card {
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
  transition: transform 0.2s; 
  display: flex;
  flex-direction: column; 
  height: 100%; 
  align-items: center;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-img {
  width: 100%;
  height: 300px; 
  overflow: hidden; 
  position: relative;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block; 
}

.product-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  justify-content: center;
}


.product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333; 
  text-align: center;
}

.product-info p {
  font-size: 1rem;
  color: #666; 
  margin: 0;
  text-align: center;
}

.product-info strong{
  color: rgba(2, 2, 2, 0.804); 
}

.product-icons{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top:10px;
  left: 10px;
  gap: 10px;
  z-index: 1;
}

.auction-icon, .like-icon{
  font-size: 0.7rem;
  padding: 10px 12px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}

.auction-icon{
  background-color: #87CEFA;
}

.like-icon{
  background-color: white;
}

.like-icon:hover{
  background-color: #87CEFA;
}
/* Responsive adjustments */
/* @media (max-width: 768px) {
  .product-card-container {
    width: 90%; 
    margin: 20px auto;
  }

  .product-img {
    height: 150px;
  }
} */